* {
  font-family: "Lato", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.menu {
  height: 70px;
  background-color: #222222;
}
.menu__item {
  display: flex;
  justify-content: space-between;
}
.menu__logo {
  width: 40px;
  margin-right: 40px;
}
.menu__left {
  display: flex;
  padding-top: 18px;
  width: 111px;
}
.menu__search {
  width: 26px;
  padding-top: 8px;
}
.menu__right {
  height: 37px;
  padding-top: 18px;
}
.menu__img-burger {
  width: 32px;
  padding-top: 5px;
  cursor: pointer;
}
.menu__img-human {
  width: 30px;
  margin-right: 10px;
  cursor: pointer;
}
.menu__img-basket {
  width: 32px;
  margin-right: 18px;
  cursor: pointer;
}

.promo {
  display: flex;
  align-items: center;
  background-color: #F1E4E6;
}
.promo__img-man {
  width: 50%;
  margin-right: 30px;
}
.promo__title {
  border-left: #F16D7F 12px solid;
  padding: 16px 0 5px 15px;
}

.title {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 42px;
}

.subtitle {
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.pink_text {
  color: #F16D7F;
}
.pink_text__direction {
  color: #F16D7F;
  font-size: 22px;
}

.direction {
  min-height: 640px;
}
.direction__wrapper {
  padding-top: 65px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.direction__box-square {
  width: 31%;
  height: 260px;
  background-color: #ccc;
  text-align: center;
}
.direction__box-square_women {
  background: url(../img/women1_5.jpg) center center/cover no-repeat;
}
.direction__box-square_men {
  background: url(../img/men1_5.jpg) center center/cover no-repeat;
}
.direction__box-square_kids {
  background: url(../img/kids1_5.jpg) center center/cover no-repeat;
}
.direction__box-square__box-name {
  padding-top: 100px;
  height: 100%;
  color: #FFF;
  background: rgba(33, 22, 22, 0.7);
  font-size: 16px;
  text-transform: uppercase;
}
.direction__box-rectangle {
  margin-top: 30px;
  height: 180px;
  background: url(../img/acsrs.png) center center/cover no-repeat;
}
.direction__box-rectangle_box-name {
  padding: 67px;
  color: #FFF;
  background: rgba(33, 22, 22, 0.7);
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

.fetured__title {
  margin-bottom: 6px;
  font-size: 34px;
  font-weight: 400;
  text-align: center;
}
.fetured__subtitle {
  margin-bottom: 48px;
  font-size: 16px;
  color: rgb(159, 159, 159);
  text-align: center;
}
.fetured__img-pink {
  background: #F1E4E6;
}
.fetured__block-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.fetured__item {
  width: 360px;
  text-align: center;
}
.fetured__item img {
  height: 420px;
}
.fetured__descr {
  padding-top: 25px;
  padding-left: 16px;
  height: 162px;
  background: rgb(248, 248, 248);
}
.fetured__card-title {
  margin-bottom: 12px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: left;
}
.fetured__card-text {
  margin-bottom: 18px;
  text-align: left;
  font-size: 13px;
  font-weight: 300;
  color: rgb(93, 93, 93);
}
.fetured__price {
  color: #F16D7F;
  text-align: left;
}
.fetured__btn {
  display: block;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 90px;
  width: 212px;
  height: 48px;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}
.fetured__btn:hover {
  background-color: #F16D7F;
  color: #fff;
}

.advantages {
  min-height: 341px;
  background: rgb(34, 34, 36);
}
.advantages__wrapper {
  height: 341px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.advantages__block {
  width: 360px;
}
.advantages__block img {
  display: block;
  width: 45px;
  margin: 0 auto;
  margin-bottom: 19px;
}
.advantages__title {
  text-align: center;
  color: rgb(251, 251, 251);
  margin-bottom: 16px;
  font-size: 19px;
  font-weight: 400;
}
.advantages__text {
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  color: rgb(251, 251, 251);
}

.subscribe {
  height: 448px;
  background: url(../img/bg_sub.jpg) center center/cover no-repeat;
  position: relative;
}
.subscribe__opasity {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 50%;
  z-index: 0;
}
.subscribe__wrapper {
  padding-top: 151px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.subscribe__left-box {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.subscribe__left-box__text {
  text-align: center;
  font-weight: 400;
}
.subscribe__left-box__text span {
  font-style: italic;
}
.subscribe__round {
  margin-bottom: 15px;
}
.subscribe__round img {
  width: 96px;
  height: 96px;
  border-radius: 100%;
}
.subscribe__right-box {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  z-index: 1;
}
.subscribe__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
}
.subscribe__subtitle {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 32px;
}
.subscribe__form-box {
  display: flex;
  border: 1px ridge #F16D7F;
  border-radius: 30px;
  width: 340px;
}
.subscribe__input {
  width: 200px;
  height: 49px;
  font-family: inherit;
  padding-left: 18px;
  background-color: #E1E1E1;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.subscribe__btn {
  display: inline-block;
  background-color: #F16D7F;
  width: 140px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.subscribe__btn:hover {
  background-color: #ccc;
}
.subscribe__btn-text {
  text-align: center;
  padding-top: 14px;
  color: #fff;
}
.subscribe__btn-text:hover {
  color: #F16D7F;
}

.footer {
  padding-top: 24px;
  padding-bottom: 24px;
  background: rgb(34, 34, 36);
  color: #fff;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__copyright {
  font-size: 16px;
  font-weight: 400;
}
.footer__socials {
  display: flex;
  justify-content: space-between;
}
.footer__socials__faicebook, .footer__socials__inst, .footer__socials__pintrest, .footer__socials__twitter {
  width: 31px;
  height: 31px;
  background: #fff;
  margin-right: 8px;
}
.footer__socials__faicebook img, .footer__socials__inst img, .footer__socials__pintrest img, .footer__socials__twitter img {
  display: block;
  margin: 0 auto;
  padding-top: 7px;
}
.footer__socials__faicebook:hover, .footer__socials__inst:hover, .footer__socials__pintrest:hover, .footer__socials__twitter:hover {
  background-color: #F16D7F;
}
.footer__socials__faicebook:hover a, .footer__socials__inst:hover a, .footer__socials__pintrest:hover a, .footer__socials__twitter:hover a {
  color: #fff;
}

@media (max-width: 991px) {
  .container {
    width: 720px;
  }
  .title {
    font-size: 44px;
  }
  .subtitle {
    font-size: 24px;
  }
  .promo__img-man {
    align-self: end;
  }
  .direction__box-square__box-name {
    padding: 80px;
    text-align: center;
    font-size: 13px;
  }
  .direction__box-rectangle_box-name {
    padding: 71px;
  }
  .pink_text__direction {
    font-size: 16px;
  }
  .pink_text__item {
    width: 350px;
    margin-bottom: 10px;
  }
  .pink_text__descr {
    padding-top: 15px;
    padding-left: 10px;
    height: 140px;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 36px;
  }
  .subtitle {
    font-size: 22px;
  }
  .promo {
    min-height: 366px;
  }
  .promo__img-man {
    height: 100%;
    margin-right: 10px;
  }
  .fetured__item {
    width: 350px;
  }
  .advantages {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .advantages__wrapper {
    flex-direction: column;
  }
  .subscribe__wrapper {
    justify-content: space-between;
    flex-direction: column;
    padding-top: 50px;
  }
  .subscribe__left-box {
    margin-bottom: 40px;
  }
}
@media (max-width: 575px) {
  .container {
    width: 340px;
  }
  .menu__img-human {
    display: none;
  }
  .menu__img-basket {
    display: none;
  }
  .direction {
    padding-bottom: 60px;
  }
  .direction__wrapper {
    justify-content: center;
  }
  .direction__box-rectangle {
    width: 60%;
    margin: 0 auto;
    font-size: 20px;
  }
  .direction__box-rectangle_box-name {
    font-size: 17px;
  }
  .direction__box-square {
    width: 60%;
    margin-bottom: 15px;
  }
  .direction__box-square__box-name {
    padding-top: 110px;
    font-size: 20px;
  }
  .pink_text__direction {
    font-size: 20px;
  }
  .promo {
    justify-content: center;
    width: 100%;
  }
  .promo__img-man {
    display: none;
  }
  .fetured__block-cards {
    justify-content: center;
  }
  .fetured__item {
    margin-bottom: 16px;
  }
  .footer__wrapper {
    padding: 10px 0 20px 0;
    flex-direction: column-reverse;
    width: 50%;
    margin: 0 auto;
  }
  .footer__socials {
    margin-bottom: 14px;
  }
  .footer__copyright {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */