.cart
    &__content
        display: flex
        justify-content: space-between
    &__item
        display: flex
        &_head
            display: flex
    &__right
        form
            display: flex
            flex-direction: column