@media (max-width: 991px)
    .container
        width: 720px
    // .menu1
    //     position: absolute
    //     right: -250px
    //     top: 0
    //     width: 250px
    //     background-color: #fff
    //     // &__item
    //     &__link
    //         color: #F16D7F
    //         display: block
    //         font-size: 24px
    //         padding: 10px
    
    

    .title
        font-size: 44px
    .subtitle
        font-size: 24px

    .promo
        &__img-man
            align-self: end
    .fetured
        &__item
            width: 49%
        // &__block-cards
        //     gap: 10px

    .direction
        &__box-square
            &__box-name
                padding: 80px
                text-align: center
                font-size: 13px
        &__box-rectangle
            &_box-name
                padding: 71px
    .pink_text
        &__direction
            font-size: 16px
        &__item
            width: 350px
            margin-bottom: 10px
            
        &__descr
            padding-top: 15px
            padding-left: 10px
            height: 140px
    // .subscribe
    //     .container
    //         .subscribe__wrapper


@media (max-width: 767px)
    .title
        font-size: 36px
    .subtitle
        font-size: 22px
    .promo
        min-height: 366px
        &__img-man
            height: 100%
            margin-right: 10px

    .advantages
        padding-top: 40px
        padding-bottom: 60px
        &__wrapper
            flex-direction: column
            align-items: center
    .subscribe
        .container
            .subscribe__wrapper
                padding-top: 70px
                justify-content: space-between
                flex-direction: column
                align-items: center
            .subscribe__left-box
                margin-bottom: 30px

            
@media (max-width: 575px)
    .container
        width: 340px
    .menu
        position: fixed
        width: 100%
        &__img-human
            display: none
        &__img-basket
            display: none
    .menu1
        width: 60%
        &__link
            font-size: 18px
            
    .direction
        padding-bottom: 60px
        &__wrapper
            justify-content: center
        &__box-rectangle
            width: 90%
            margin: 0 auto
            font-size: 20px
            &_box-name
                font-size: 17px
        &__box-square
            width: 90%
            margin-bottom: 15px
            &__box-name
                padding-top: 110px
                font-size: 20px
    .pink_text__direction
        font-size: 20px
    .promo
        justify-content: center
        width: 100%
        &__img-man
            display: none
    .fetured
        &__block-cards
            justify-content: center
        &__item
            width: 98%
            margin-bottom: 16px
    .footer
        &__wrapper
            padding: 10px 0 20px 0
            flex-direction: column-reverse
            width: 50%
            margin: 0 auto
        &__socials
            margin-bottom: 14px
        &__copyright
            text-align: center
    .subscribe
        &__subtitle
            text-align: center